# Généré par Cargo
# contiendra les fichiers compilés et les exécutables
/target/

# Généré par Tauri
# contiendra les fichiers de schéma pour l'auto-complétion des capacités
/gen/schemas

# Fichiers de système d'exploitation
.DS_Store
Thumbs.db

# Fichiers d'environnement
.env
.env.local

# Fichiers de logs
*.log

# Dossiers de dépendances
/node_modules/

# Fichiers de build
/dist/
/build/

# Fichiers de cache
.cache/
.npm/

# Fichiers d'IDE
.vscode/
.idea/
*.swp
*.swo

# Autres
*.bak
*.tmp
*.temp
